
{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="form-container p-4 shadow-sm rounded" style="max-width: 600px; width: 100%;">

            <h2 style="text-align: center">Création d'utilisateurs</h2>

            {{ form_start(userFormView, { 'attr': { 'class': 'user-form' } }) }}

            <div style="margin-bottom: 10px">
                {{ form_label(userFormView.email, 'Email') }}
                {{ form_widget(userFormView.email, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(userFormView.email) }}
            </div>

            <div style="margin-bottom: 10px">
                {{ form_label(userFormView.roles, 'Rôles') }}
                {{ form_widget(userFormView.roles, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(userFormView.roles) }}
            </div>

            <div style="margin-bottom: 10px">
                {{ form_label(userFormView.password, 'Mot de passe') }}
                {{ form_widget(userFormView.password, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(userFormView.password) }}
            </div>

            {{ form_end(userFormView) }}

        </div>
    </div>
{% endblock %}