{% extends "public/base.html.twig" %}
{% block title %}Recherche pour {{ search }} | Tournesol Records{% endblock %}

{% block body %}
    <main>
        {# FORMULAIRE : BARRE DE RECHERCHES #}

        <form class="form-search" method="get" action="{{ path('search_artists') }}">
            <label>
                <input required class="search-input" type="text" name="search" >
            </label>

            <input class="search-button" type="submit" value="Rechercher un artiste">
        </form>

        {% if artists | length == 0 %}
            <p class="error">Pas de résultats pour cette recherche</p>
        {% endif %}

        {% for artist in artists %}
            <div class="search-artist">
                <article class="search-article">
                    <p><strong>{{ artist.alias }}</strong></p>
                    <div class="search-artist-img">
                        <img src="{{ asset('assets/uploads/' ~ artist.image) }}" alt="{{ artist.alias }}"/>
                    </div>
                    <div class="mt-5">
                        <a href="{{ path('show_artist', {id: artist.id}) }}" class="img-fluid" alt="{{ artist.alias }}" style="background-color: darkred;color: white;border-radius: 10px;padding: 10px;" >Voir l'artiste </a>
                    </div>
                </article>
            </div>
        {% endfor %}
    </main>
{% endblock %}