{% extends "public/base.html.twig" %}


{% block title %}Recherche pour {{ search }} | Tournesol Records{% endblock %}

{% block body %}

    <main>

        {% if artists | length == 0 %}
            <p>Pas de résultats pour cette recherche</p>
        {% endif %}

        {% for artist in artists %}

            <div style="display: flex; justify-content: center;align-items: center;  min-height: 100vh; text-align: center;">
                <article style="background-color: #fea756; padding: 1.5%;margin-bottom: 5%" >
                    <p style="font-size: 20px"><strong>{{ artist.alias }}</strong></p>

                    <div style="display: flex; justify-content: center; align-items: center;width: 100%; max-width: 600px; margin: 0 auto;" >
                        <img src="{{ asset('assets/uploads/' ~ artist.image) }}" />
                    </div>

                    <div class="mt-5">
                        <a href="{{ path('show_artist', {id: artist.id}) }}" class="img-fluid" alt="{{ artist.alias }}" style="background-color: darkred;color: white;border-radius: 10px;padding: 10px;" >Voir l'artiste </a>
                    </div>

                </article>

            </div>

        {% endfor %}
    </main>

{% endblock %}