{% extends "public/base.html.twig" %}

{% block title %}{{ artist.alias }} | Tournesol Records{% endblock %}

{% block body %}

    <main>

        {# PHOTO + TEXTE #}
        <article class="show-artiste">
            <div>
                <h3>{{ artist.alias }}</h3><br>
                <p>{{ artist.description }}</p>
            </div>

            <img width="500px"  src="{{ asset('assets/uploads/' ~ artist.image) }}" />
        </article>

        {# PARTIE TRACKS DE L'ARTISTE #}
        <h2>Tracks de {{ artist.alias }}</h2>

        <section class="article-container">
            {% for track in artist.tracks %}
                <article class="show-tracks">
                    <h4>{{ track.title }} </h4><br>
                    <p id="releaseSize"><em>{{ track.releasedAt |date('d-m-Y')}}</em></p>
                    <p>Écouter sur :
                        {% if track.spotifyLink is not empty %}
                            <a href="{{ track.spotifyLink }}" target="_blank">
                                <img width="50px" src="{{ asset('assets/images/spotify_picto.png') }}">
                            </a>
                        {% endif %}

                        {% if track.appleMusicLink is not empty %}
                            <a href="{{ track.appleMusicLink }}" target="_blank">
                                <img width="65px" src="{{ asset('assets/images/appleMusic_picto.png') }}">
                            </a>
                        {% endif %}

                        {% if track.appleMusicLink is not empty %}
                            <a href="{{ track.youtubeLink }}" target="_blank">
                                <img width="50px" src="{{ asset('assets/images/youtube_picto.png') }}">
                            </a>
                        {% endif %}
                    </p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}