{% extends "public/base.html.twig" %}


{% block title %}Accueil | Les artistes {% endblock %}

{% block body %}

    <main>

        {# FORMULAIRE : BARRE DE RECHERCHES #}


        <form class="form-search" method="get" action="{{ path('search_tracks') }}">

            <label>
                <input required class="search-input" type="text" name="search" >
            </label>

            <input class="search-button" type="submit" value="Rechercher une track">
        </form>


        {# BOUCLE POUR AFFICHER LISTE DE TRACKS #}


        <section class="track-container">
            {% for track in tracks %}
                <article class="all-tracks">
                    <div>
                        <div class="flex-img-title-text" >
                            <div class="mt-5">
                                <img src="{{ asset('assets/uploads/' ~ track.image) }}"  />
                            </div>

                           <div id="text-tracks">
                               <h3>{{ track.title }}</h3><br>
                               <p  style="text-align: justify">{{ track.description }}</p>
                           </div>

                        </div>


                        <a href="{{ path('show_track', {id: track.id}) }}" style="background-color: darkred;border-radius: 10px; padding: 10px; margin-left: 24%;color: white">Voir plus</a>


                        <p class="listen-on" >Écouter sur :
                            <div class="flex">
                                {% if track.spotifyLink is not empty %}
                                    <div class="img-logo">
                                        <a href="{{ track.spotifyLink }}" target="_blank">
                                            <img width="50px" src="{{ asset('assets/images/spotify_picto.png') }}">
                                        </a>
                                    </div>
                                {% endif %}

                                {% if track.appleMusicLink is not empty %}
                                    <div class="img-logo">
                                        <a href="{{ track.appleMusicLink }}" target="_blank">
                                            <img width="65px" src="{{ asset('assets/images/appleMusic_picto.png') }}">
                                        </a>
                                    </div>
                                {% endif %}

                                {% if track.appleMusicLink is not empty %}
                                    <div class="img-logo">
                                        <a href="{{ track.youtubeLink }}" target="_blank">
                                            <img width="50px" src="{{ asset('assets/images/youtube_picto.png') }}">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </p>
                    </div>
                </article>
            {% endfor %}


        </section>


    </main>

{% endblock %}