{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste de tous les artistes</h1>

        <div class="d-flex justify-content-center">
            <table class="table table-bordered text-center">
                <tr>
                    <th style="border: 1px solid black; padding: 8px;">Actions</th>
                    <th style="border: 1px solid black; padding: 8px;">Artist id</th>
                    <th style="border: 1px solid black; padding: 8px;">Alias</th>
                    <th style="border: 1px solid black; padding: 8px;">Date de création</th>
                    <th style="border: 1px solid black; padding: 8px;">Date de mise à jour</th>
                    <th style="border: 1px solid black; padding: 8px;">Image</th>
                </tr>

                {% for artist in artists %}
                    <tr>
                        <td style="border: 1px solid black; padding: 8px;">
                            <a href="{{ path('admin_show_artist', {'id': artist.id}) }}" class="btn btn-primary" style="margin-bottom: 10px" >Voir l'artiste</a>
                            <a href="{{ path('admin_delete_artist', {'id': artist.id}) }}" class="btn btn-danger" style="margin-bottom: 10px"  >Supprimer</a>
                            <a href="{{ path('admin_update_artist', {'id': artist.id}) }}" class="btn btn-warning" >Modifier</a>
                        </td>
                        <td style="border: 1px solid black; padding: 8px;">{{ artist.id }}</td>
                        <td style="border: 1px solid black; padding: 8px;">{{ artist.alias }}</td>
                        <td style="border: 1px solid black; padding: 8px;">{{ artist.createdAt | date('d-m-Y')}}</td>
                        <td style="border: 1px solid black; padding: 8px;">{{ artist.updatedAt | date('d-m-Y')}}</td>
                        <td style="border: 1px solid black; padding: 8px;">
                            <img width="100px" alt="image artiste" src="{{ asset('assets/uploads/' ~ artist.image) }}" />
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}